<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="registertest" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter your name"><br>
    <input type="password" name="password" placeholder="enter your password"><br>
    <input type="password" name="password1" placeholder="enter your confirm "><br>
    <input type="submit">
</form>
{% for mms in messages %}
{{mms}}
{% endfor %}

{% for b in b %}
<a href="{{b.get.url}}">{{b.name}}</a>
    {% endfor%}
</body>
</html>